/* Custom */
html, body, .container-fluid {
    height: 100%;
    padding: 0; margin: 0
}

#root, [data-reactroot]  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.react-swipeable-view-container {
    height: 100%!important;
}